## SQL
### Session 12: Assignment 1

In [1]:
## Importing packages
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import sqlite3 as db

In [2]:
## Reading the dataset from url
url='https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
## Assigning the Dataset to DF
census_data=pd.read_csv(url,names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','XYX'])

In [3]:
## Verifiying the dataset
census_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,XYX
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
## Dataset Info
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
XYX               32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
## Creating DB
conn=db.connect('sqladb.db')

In [9]:
## Creating Table
with conn:
    cur = conn.cursor() 
    cur.execute("CREATE TABLE adult(age INT ,workclass TEXT ,fnlwgt INT ,education TEXT ,'education-num' INT  ,'marital-status' TEXT ,occupation TEXT ,relationship TEXT ,race TEXT ,sex TEXT ,'capital-gain' INT ,'capital-loss' INT ,hours INT ,'native-country' TEXT ,XYX TEXT)")

In [10]:
## Writing data from Dataframe to DB
census_data.to_sql('adult', conn, if_exists='replace')

#### 1. Select 10 records from adult sqladb

In [11]:
 # A SQL command to get 10 rows
ten_record_sql = "SELECT * FROM adult LIMIT 10;"

In [12]:
for result in cur.execute(ten_record_sql):
    print(result)

(0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K')
(1, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K')
(2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K')
(3, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K')
(4, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K')
(5, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K')
(6, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K')
(7, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K')
(8, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' United-States', ' >50K')
(9, 42, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 5178, 0, 40, ' United-States', ' >50K')

#### 2. Avg hours per week for all en working in Private sector

In [26]:
private_workhour_sql = "SELECT AVG(\"hours-per-week\") FROM adult WHERE workclass=' Private' AND sex=' Male' GROUP BY sex;"
for result in cur.execute(private_workhour_sql):
    print(result)

(42.22122591006424,)

#### 3. Frequncy Tables

#### 3A. Frequency Table :-  Education

In [15]:
edu_freq_sql = "SELECT education,COUNT(*) FROM adult GROUP BY education;" #SHOW EDUCATION TABLE
for result in cur.execute(edu_freq_sql):
    print(result)

(' 10th', 933)
(' 11th', 1175)
(' 12th', 433)
(' 1st-4th', 168)
(' 5th-6th', 333)
(' 7th-8th', 646)
(' 9th', 514)
(' Assoc-acdm', 1067)
(' Assoc-voc', 1382)
(' Bachelors', 5355)
(' Doctorate', 413)
(' HS-grad', 10501)
(' Masters', 1723)
(' Preschool', 51)
(' Prof-school', 576)
(' Some-college', 7291)

#### 3B. Frequenct Table :- Occupation

In [16]:
occupation_freq_sql = "SELECT occupation,COUNT(*) FROM adult GROUP BY occupation;" #SHOW occupation TABLE
for result in cur.execute(occupation_freq_sql):
    print(result)

(' ?', 1843)
(' Adm-clerical', 3770)
(' Armed-Forces', 9)
(' Craft-repair', 4099)
(' Exec-managerial', 4066)
(' Farming-fishing', 994)
(' Handlers-cleaners', 1370)
(' Machine-op-inspct', 2002)
(' Other-service', 3295)
(' Priv-house-serv', 149)
(' Prof-specialty', 4140)
(' Protective-serv', 649)
(' Sales', 3650)
(' Tech-support', 928)
(' Transport-moving', 1597)

#### 3C. Frequncy Table Relationship

In [17]:
relationship_freq_sql = "SELECT relationship,COUNT(*) FROM adult GROUP BY relationship;" #SHOW Relationship TABLE
for result in cur.execute(relationship_freq_sql):
    print(result)

(' Husband', 13193)
(' Not-in-family', 8305)
(' Other-relative', 981)
(' Own-child', 5068)
(' Unmarried', 3446)
(' Wife', 1568)

#### 4. People who are married, working in private sector and having masters degree

In [55]:
select_sql = "SELECT count(*) FROM adult WHERE workclass=' Private' AND education=' Masters' AND \"marital-status\" != ' Never-married';"
for result in cur.execute(select_sql):
    print(result)

(660,)

#### 5. Avg, Min and Max age Group of people working inn different Sectors

In [18]:
age_group_sql = "SELECT workclass,MAX(age),MIN(age),AVG(age) FROM adult GROUP BY workclass;"
for result in cur.execute(age_group_sql):
    print(result)

(' ?', 90, 17, 40.960239651416124)
(' Federal-gov', 90, 17, 42.590625)
(' Local-gov', 90, 17, 41.75107501194458)
(' Never-worked', 30, 17, 20.571428571428573)
(' Private', 90, 17, 36.797585477617204)
(' Self-emp-inc', 84, 17, 46.01702508960574)
(' Self-emp-not-inc', 90, 17, 44.96969696969697)
(' State-gov', 81, 17, 39.43605546995377)
(' Without-pay', 72, 19, 47.785714285714285)

#### 6. Age distribution by country

In [19]:
age_dist_country_sql = "SELECT \"native-country\",age,COUNT(*) FROM adult GROUP BY \"native-country\",age;"
for result in cur.execute(age_dist_country_sql):
    print(result)

(' ?', 17, 2)
(' ?', 18, 8)
(' ?', 19, 5)
(' ?', 20, 10)
(' ?', 21, 11)
(' ?', 22, 12)
(' ?', 23, 6)
(' ?', 24, 14)
(' ?', 25, 11)
(' ?', 26, 18)
(' ?', 27, 15)
(' ?', 28, 19)
(' ?', 29, 12)
(' ?', 30, 19)
(' ?', 31, 18)
(' ?', 32, 17)
(' ?', 33, 13)
(' ?', 34, 24)
(' ?', 35, 18)
(' ?', 36, 23)
(' ?', 37, 22)
(' ?', 38, 20)
(' ?', 39, 19)
(' ?', 40, 12)
(' ?', 41, 22)
(' ?', 42, 24)
(' ?', 43, 14)
(' ?', 44, 10)
(' ?', 45, 17)
(' ?', 46, 15)
(' ?', 47, 12)
(' ?', 48, 5)
(' ?', 49, 4)
(' ?', 50, 13)
(' ?', 51, 7)
(' ?', 52, 9)
(' ?', 53, 4)
(' ?', 54, 5)
(' ?', 55, 12)
(' ?', 56, 10)
(' ?', 57, 5)
(' ?', 58, 2)
(' ?', 59, 3)
(' ?', 60, 5)
(' ?', 61, 5)
(' ?', 62, 3)
(' ?', 63, 5)
(' ?', 64, 5)
(' ?', 65, 3)
(' ?', 66, 3)
(' ?', 67, 1)
(' ?', 68, 3)
(' ?', 69, 1)
(' ?', 70, 1)
(' ?', 72, 2)
(' ?', 74, 1)
(' ?', 76, 1)
(' ?', 81, 2)
(' ?', 90, 1)
(' Cambodia', 18, 1)
(' Cambodia', 25, 1)
(' Cambodia', 27, 2)
(' Cambodia', 28, 1)
(' Cambodia', 32, 1)
(' Cambodia', 34, 1)
(' Cambodia', 35, 1)
(' Cambodia', 36, 1)
(' Cambodia', 37, 2)
(' Cambodia', 40, 2)
(' Cambodia', 42, 1)
(' Cambodia', 46, 1)
(' Cambodia', 48, 1)
(' Cambodia', 50, 1)
(' Cambodia', 51, 1)
(' Cambodia', 65, 1)
(' Canada', 17, 2)
(' Canada', 18, 1)
(' Canada', 19, 1)
(' Canada', 20, 2)
(' Canada', 22, 1)
(' Canada', 23, 3)
(' Canada', 24, 3)
(' Canada', 25, 5)
(' Canada', 26, 2)
(' Canada', 27, 2)
(' Canada', 28, 3)
(' Canada', 29, 4)
(' Canada', 30, 3)
(' Canada', 31, 2)
(' Canada', 32, 3)
(' Canada', 33, 4)
(' Canada', 34, 1)
(' Canada', 35, 1)
(' Canada', 36, 4)
(' Canada', 37, 4)
(' Canada', 38, 4)
(' Canada', 39, 1)
(' Canada', 40, 4)
(' Canada', 41, 3)
(' Canada', 42, 1)
(' Canada', 43, 1)
(' Canada', 44, 2)
(' Canada', 45, 6)
(' Canada', 46, 2)
(' Canada', 47, 2)
(' Canada', 48, 1)
(' Canada', 49, 2)
(' Canada', 50, 3)
(' Canada', 51, 4)
(' Canada', 52, 3)
(' Canada', 53, 4)
(' Canada', 54, 1)
(' Canada', 55, 1)
(' Canada', 56, 4)
(' Canada', 57, 1)
(' Canada', 58, 2)
(' Canada', 61, 1)
(' Canada', 62, 3)
(' Canada', 64, 2)
(' Canada', 65, 1)
(' Canada', 66, 1)
(' Canada', 67, 2)
(' Canada', 68, 1)
(' Canada', 71, 1)
(' Canada', 72, 2)
(' Canada', 73, 2)
(' Canada', 76, 1)
(' Canada', 80, 1)
(' China', 22, 1)
(' China', 23, 2)
(' China', 24, 2)
(' China', 25, 1)
(' China', 27, 1)
(' China', 28, 1)
(' China', 29, 1)
(' China', 30, 4)
(' China', 31, 2)
(' China', 32, 2)
(' China', 33, 4)
(' China', 34, 4)
(' China', 35, 2)
(' China', 36, 3)
(' China', 37, 1)
(' China', 39, 2)
(' China', 40, 4)
(' China', 41, 3)
(' China', 43, 2)
(' China', 44, 1)
(' China', 45, 5)
(' China', 46, 2)
(' China', 48, 3)
(' China', 49, 1)
(' China', 50, 1)
(' China', 51, 1)
(' China', 52, 2)
(' China', 53, 2)
(' China', 54, 2)
(' China', 56, 2)
(' China', 57, 1)
(' China', 59, 1)
(' China', 60, 1)
(' China', 61, 1)
(' China', 62, 1)
(' China', 63, 1)
(' China', 64, 2)
(' China', 69, 1)
(' China', 70, 1)
(' China', 75, 1)
(' Columbia', 18, 1)
(' Columbia', 21, 3)
(' Columbia', 23, 2)
(' Columbia', 25, 4)
(' Columbia', 26, 3)
(' Columbia', 28, 2)
(' Columbia', 29, 3)
(' Columbia', 31, 2)
(' Columbia', 32, 3)
(' Columbia', 33, 2)
(' Columbia', 34, 2)
(' Columbia', 36, 2)
(' Columbia', 38, 2)
(' Columbia', 39, 2)
(' Columbia', 41, 1)
(' Columbia', 43, 1)
(' Columbia', 45, 2)
(' Columbia', 46, 1)
(' Columbia', 48, 1)
(' Columbia', 49, 6)
(' Columbia', 50, 1)
(' Columbia', 51, 1)
(' Columbia', 52, 1)
(' Columbia', 53, 1)
(' Columbia', 54, 1)
(' Columbia', 56, 1)
(' Columbia', 57, 2)
(' Columbia', 60, 2)
(' Columbia', 62, 1)
(' Columbia', 64, 2)
(' Columbia', 75, 1)
(' Cuba', 21, 2)
(' Cuba', 23, 3)
(' Cuba', 25, 1)
(' Cuba', 27, 1)
(' Cuba', 28, 3)
(' Cuba', 29, 1)
(' Cuba', 30, 1)
(' Cuba', 31, 3)
(' Cuba', 32, 1)
(' Cuba', 33, 4)
(' Cuba', 34, 1)
(' Cuba', 35, 1)
(' Cuba', 36, 1)
(' Cuba', 37, 5)
(' Cuba', 38, 4)
(' Cuba', 39, 3)
(' Cuba', 40, 3)
(' Cuba', 41, 3)
(' Cuba', 42, 1)
(' Cuba', 43, 2)
(' Cuba', 44, 2)
(' Cuba', 45, 1)
(' Cuba', 46, 2)
(' Cuba', 47, 6)
(' Cuba', 48, 1)
(' Cuba', 49, 1)
(' Cuba', 50, 2)
(' Cuba', 51, 1)
(' Cuba', 52, 6)
(' Cuba', 53, 3)
(' Cuba', 54, 2)
(' Cuba', 55, 1)
(' Cuba', 56, 2)
(' Cuba', 57, 4)
(' Cuba', 58, 1)
(' Cuba', 59, 2)
(' Cuba', 60, 1)
(' Cuba', 62, 1)
(' Cuba', 63, 2)
(' Cuba', 64, 2)
(' Cuba', 66, 1)
(' Cuba', 67, 1)
(' Cuba', 68, 1)
(' Cuba', 70, 1)
(' Cuba', 72, 2)
(' Cuba', 77, 1)
(' Cuba', 82, 1)
(' Dominican-Republic', 18, 1)
(' Dominican-Republic', 21, 3)
(' Dominican-Republic', 22, 3)
(' Dominican-Republic', 23, 4)
(' Dominican-Republic', 24, 3)
(' Dominican-Republic', 25, 2)
(' Dominican-Republic', 26, 3)
(' Dominican-Republic', 27, 4)
(' Dominican-Republic', 28, 2)
(' Dominican-Republic', 29, 3)
(' Dominican-Republic', 30, 1)
(' Dominican-Republic', 32, 1)
(' Dominican-Republic', 34, 2)
(' Dominican-Republic', 35, 1)
(' Dominican-Republic', 38, 1)
(' Dominican-Republic', 39, 4)
(' Dominican-Republic', 40, 3)
(' Dominican-Republic', 41, 2)
(' Dominican-Republic', 42, 1)
(' Dominican-Republic', 43, 1)
(' Dominican-Republic', 44, 3)
(' Dominican-Republic', 45, 1)
(' Dominican-Republic', 46, 2)
(' Dominican-Republic', 47, 1)
(' Dominican-Republic', 48, 3)
(' Dominican-Republic', 50, 2)
(' Dominican-Republic', 51, 1)
(' Dominican-Republic', 52, 1)
(' Dominican-Republic', 53, 4)
(' Dominican-Republic', 56, 1)
(' Dominican-Republic', 57, 1)
(' Dominican-Republic', 58, 1)
(' Dominican-Republic', 59, 1)
(' Dominican-Republic', 60, 1)
(' Dominican-Republic', 62, 1)
(' Dominican-Republic', 78, 1)
(' Ecuador', 21, 1)
(' Ecuador', 23, 1)
(' Ecuador', 24, 2)
(' Ecuador', 25, 1)
(' Ecuador', 27, 1)
(' Ecuador', 28, 2)
(' Ecuador', 29, 4)
(' Ecuador', 30, 1)
(' Ecuador', 32, 2)
(' Ecuador', 33, 1)
(' Ecuador', 35, 1)
(' Ecuador', 36, 1)
(' Ecuador', 37, 1)
(' Ecuador', 42, 2)
(' Ecuador', 44, 1)
(' Ecuador', 46, 2)
(' Ecuador', 48, 1)
(' Ecuador', 50, 1)
(' Ecuador', 67, 1)
(' Ecuador', 90, 1)
(' El-Salvador', 17, 2)
(' El-Salvador', 19, 4)
(' El-Salvador', 20, 5)
(' El-Salvador', 21, 2)
(' El-Salvador', 22, 2)
(' El-Salvador', 23, 6)
(' El-Salvador', 24, 7)
(' El-Salvador', 25, 8)
(' El-Salvador', 26, 3)
(' El-Salvador', 27, 3)
(' El-Salvador', 28, 3)
(' El-Salvador', 29, 4)
(' El-Salvador', 30, 1)
(' El-Salvador', 31, 2)
(' El-Salvador', 32, 1)
(' El-Salvador', 33, 6)
(' El-Salvador', 34, 3)
(' El-Salvador', 36, 3)
(' El-Salvador', 37, 5)
(' El-Salvador', 38, 1)
(' El-Salvador', 39, 2)
(' El-Salvador', 40, 2)
(' El-Salvador', 41, 2)
(' El-Salvador', 42, 5)
(' El-Salvador', 44, 1)
(' El-Salvador', 45, 1)
(' El-Salvador', 46, 1)
(' El-Salvador', 47, 4)
(' El-Salvador', 48, 2)
(' El-Salvador', 50, 3)
(' El-Salvador', 51, 2)
(' El-Salvador', 52, 4)
(' El-Salvador', 53, 1)
(' El-Salvador', 58, 1)
(' El-Salvador', 59, 1)
(' El-Salvador', 61, 1)
(' El-Salvador', 63, 1)
(' El-Salvador', 79, 1)
(' England', 17, 1)
(' England', 19, 2)
(' England', 20, 1)
(' England', 21, 1)
(' England', 22, 1)
(' England', 23, 2)
(' England', 24, 3)
(' England', 25, 1)
(' England', 26, 1)
(' England', 27, 1)
(' England', 28, 3)
(' England', 29, 2)
(' England', 30, 4)
(' England', 31, 2)
(' England', 32, 3)
(' England', 33, 3)
(' England', 34, 5)
(' England', 36, 2)
(' England', 37, 2)
(' England', 38, 2)
(' England', 39, 2)
(' England', 40, 3)
(' England', 41, 2)
(' England', 42, 2)
(' England', 43, 2)
(' England', 44, 4)
(' England', 45, 4)
(' England', 46, 2)
(' England', 47, 1)
(' England', 48, 3)
(' England', 49, 1)
(' England', 50, 1)
(' England', 51, 1)
(' England', 52, 1)
(' England', 54, 2)
(' England', 55, 3)
(' England', 57, 1)
(' England', 59, 4)
(' England', 60, 1)
(' England', 61, 1)
(' England', 65, 1)
(' England', 66, 1)
(' England', 67, 1)
(' England', 68, 1)
(' England', 72, 1)
(' England', 73, 1)
(' England', 90, 1)
(' France', 20, 1)
(' France', 24, 1)
(' France', 27, 1)
(' France', 28, 2)
(' France', 29, 2)
(' France', 30, 1)
(' France', 31, 1)
(' France', 32, 1)
(' France', 33, 2)
(' France', 34, 3)
(' France', 37, 2)
(' France', 39, 1)
(' France', 42, 1)
(' France', 43, 1)
(' France', 45, 1)
(' France', 47, 1)
(' France', 49, 1)
(' France', 51, 1)
(' France', 53, 1)
(' France', 55, 1)
(' France', 58, 1)
(' France', 64, 2)
(' Germany', 18, 1)
(' Germany', 20, 5)
(' Germany', 21, 3)
(' Germany', 22, 4)
(' Germany', 23, 1)
(' Germany', 24, 2)
(' Germany', 26, 3)
(' Germany', 27, 3)
(' Germany', 28, 5)
(' Germany', 29, 8)
(' Germany', 30, 8)
(' Germany', 31, 4)
(' Germany', 32, 3)
(' Germany', 33, 5)
(' Germany', 34, 8)
(' Germany', 35, 5)
(' Germany', 36, 4)
(' Germany', 37, 2)
(' Germany', 38, 1)
(' Germany', 39, 3)
(' Germany', 40, 1)
(' Germany', 41, 2)
(' Germany', 42, 1)
(' Germany', 43, 4)
(' Germany', 44, 1)
(' Germany', 45, 5)
(' Germany', 46, 6)
(' Germany', 47, 5)
(' Germany', 48, 3)
(' Germany', 49, 1)
(' Germany', 50, 2)
(' Germany', 51, 2)
(' Germany', 52, 3)
(' Germany', 53, 2)
(' Germany', 54, 2)
(' Germany', 55, 2)
(' Germany', 56, 1)
(' Germany', 57, 2)
(' Germany', 58, 1)
(' Germany', 59, 1)
(' Germany', 60, 2)
(' Germany', 61, 1)
(' Germany', 62, 2)
(' Germany', 65, 1)
(' Germany', 66, 1)
(' Germany', 67, 2)
(' Germany', 69, 1)
(' Germany', 71, 1)
(' Germany', 74, 1)
(' Greece', 22, 2)
(' Greece', 23, 1)
(' Greece', 24, 1)
(' Greece', 27, 1)
(' Greece', 32, 2)
(' Greece', 40, 1)
(' Greece', 43, 1)
(' Greece', 44, 1)
(' Greece', 46, 1)
(' Greece', 48, 1)
(' Greece', 49, 3)
(' Greece', 51, 1)
(' Greece', 52, 1)
(' Greece', 53, 3)
(' Greece', 54, 1)
(' Greece', 55, 1)
(' Greece', 56, 1)
(' Greece', 58, 3)
(' Greece', 59, 1)
(' Greece', 65, 2)
(' Guatemala', 19, 3)
(' Guatemala', 20, 3)
(' Guatemala', 21, 2)
(' Guatemala', 22, 3)
(' Guatemala', 23, 4)
(' Guatemala', 24, 1)
(' Guatemala', 25, 6)
(' Guatemala', 26, 2)
(' Guatemala', 27, 6)
(' Guatemala', 28, 2)
(' Guatemala', 29, 3)
(' Guatemala', 30, 2)
(' Guatemala', 32, 1)
(' Guatemala', 33, 2)
(' Guatemala', 34, 3)
(' Guatemala', 35, 1)
(' Guatemala', 36, 1)
(' Guatemala', 37, 2)
(' Guatemala', 38, 1)
(' Guatemala', 40, 1)
(' Guatemala', 41, 4)
(' Guatemala', 45, 1)
(' Guatemala', 46, 4)
(' Guatemala', 53, 1)
(' Guatemala', 54, 1)
(' Guatemala', 58, 1)
(' Guatemala', 59, 1)
(' Guatemala', 61, 1)
(' Guatemala', 66, 1)
(' Haiti', 17, 1)
(' Haiti', 19, 1)
(' Haiti', 20, 1)
(' Haiti', 22, 2)
(' Haiti', 23, 2)
(' Haiti', 24, 2)
(' Haiti', 28, 2)
(' Haiti', 29, 2)
(' Haiti', 30, 1)
(' Haiti', 32, 1)
(' Haiti', 33, 2)
(' Haiti', 34, 1)
(' Haiti', 35, 1)
(' Haiti', 36, 2)
(' Haiti', 38, 2)
(' Haiti', 40, 1)
(' Haiti', 41, 1)
(' Haiti', 42, 2)
(' Haiti', 43, 2)
(' Haiti', 44, 2)
(' Haiti', 45, 1)
(' Haiti', 48, 1)
(' Haiti', 51, 2)
(' Haiti', 52, 1)
(' Haiti', 53, 2)
(' Haiti', 54, 3)
(' Haiti', 56, 1)
(' Haiti', 58, 1)
(' Haiti', 63, 1)
(' Holand-Netherlands', 32, 1)
(' Honduras', 18, 1)
(' Honduras', 19, 1)
(' Honduras', 26, 1)
(' Honduras', 28, 2)
(' Honduras', 30, 1)
(' Honduras', 31, 2)
(' Honduras', 36, 1)
(' Honduras', 41, 1)
(' Honduras', 47, 2)
(' Honduras', 58, 1)
(' Hong', 19, 1)
(' Hong', 26, 2)
(' Hong', 27, 2)
(' Hong', 28, 2)
(' Hong', 29, 1)
(' Hong', 30, 1)
(' Hong', 32, 1)
(' Hong', 33, 2)
(' Hong', 35, 1)
(' Hong', 36, 1)
(' Hong', 37, 2)
(' Hong', 40, 1)
(' Hong', 41, 1)
(' Hong', 49, 1)
(' Hong', 60, 1)
(' Hungary', 24, 1)
(' Hungary', 26, 1)
(' Hungary', 28, 1)
(' Hungary', 30, 1)
(' Hungary', 47, 1)
(' Hungary', 49, 1)
(' Hungary', 54, 1)
(' Hungary', 55, 1)
(' Hungary', 57, 1)
(' Hungary', 60, 1)
(' Hungary', 65, 1)
(' Hungary', 66, 1)
(' Hungary', 81, 1)
(' India', 17, 1)
(' India', 18, 1)
(' India', 20, 1)
(' India', 21, 1)
(' India', 22, 2)
(' India', 23, 1)
(' India', 24, 2)
(' India', 25, 3)
(' India', 26, 3)
(' India', 27, 4)
(' India', 28, 3)
(' India', 29, 4)
(' India', 30, 5)
(' India', 31, 5)
(' India', 32, 3)
(' India', 33, 3)
(' India', 34, 4)
(' India', 35, 4)
(' India', 36, 3)
(' India', 38, 2)
(' India', 39, 1)
(' India', 40, 1)
(' India', 41, 3)
(' India', 42, 3)
(' India', 43, 3)
(' India', 44, 1)
(' India', 45, 4)
(' India', 46, 3)
(' India', 47, 2)
(' India', 48, 4)
(' India', 49, 2)
(' India', 50, 1)
(' India', 51, 2)
(' India', 52, 1)
(' India', 53, 2)
(' India', 54, 3)
(' India', 55, 2)
(' India', 57, 2)
(' India', 58, 1)
(' India', 59, 2)
(' India', 61, 2)
(' Iran', 22, 2)
(' Iran', 23, 1)
(' Iran', 24, 1)
(' Iran', 29, 1)
(' Iran', 30, 2)
(' Iran', 32, 3)
(' Iran', 33, 1)
(' Iran', 34, 2)
(' Iran', 35, 2)
(' Iran', 36, 4)
(' Iran', 37, 2)
(' Iran', 38, 3)
(' Iran', 39, 1)
(' Iran', 40, 2)
(' Iran', 41, 2)
(' Iran', 42, 1)
(' Iran', 43, 1)
(' Iran', 44, 1)
(' Iran', 45, 1)
(' Iran', 47, 3)
(' Iran', 51, 1)
(' Iran', 52, 1)
(' Iran', 56, 1)
(' Iran', 57, 1)
(' Iran', 59, 1)
(' Iran', 62, 1)
(' Iran', 63, 1)
(' Ireland', 23, 2)
(' Ireland', 27, 2)
(' Ireland', 29, 1)
(' Ireland', 30, 4)
(' Ireland', 31, 1)
(' Ireland', 32, 4)
(' Ireland', 34, 1)
(' Ireland', 35, 1)
(' Ireland', 40, 2)
(' Ireland', 46, 1)
(' Ireland', 48, 1)
(' Ireland', 50, 1)
(' Ireland', 51, 1)
(' Ireland', 55, 1)
(' Ireland', 68, 1)
(' Italy', 19, 1)
(' Italy', 20, 1)
(' Italy', 21, 1)
(' Italy', 22, 1)
(' Italy', 24, 1)
(' Italy', 25, 2)
(' Italy', 28, 1)
(' Italy', 29, 1)
(' Italy', 31, 3)
(' Italy', 32, 2)
(' Italy', 33, 1)
(' Italy', 34, 1)
(' Italy', 36, 2)
(' Italy', 38, 4)
(' Italy', 39, 1)
(' Italy', 41, 2)
(' Italy', 42, 3)
(' Italy', 43, 1)
(' Italy', 44, 2)
(' Italy', 46, 1)
(' Italy', 47, 4)
(' Italy', 48, 3)
(' Italy', 49, 2)
(' Italy', 50, 2)
(' Italy', 51, 1)
(' Italy', 53, 5)
(' Italy', 54, 2)
(' Italy', 55, 2)
(' Italy', 56, 2)
(' Italy', 57, 2)
(' Italy', 58, 1)
(' Italy', 59, 4)
(' Italy', 60, 1)
(' Italy', 61, 2)
(' Italy', 62, 1)
(' Italy', 64, 1)
(' Italy', 65, 2)
(' Italy', 68, 2)
(' Italy', 69, 1)
(' Italy', 77, 1)
(' Jamaica', 18, 1)
(' Jamaica', 19, 1)
(' Jamaica', 21, 3)
(' Jamaica', 22, 3)
(' Jamaica', 23, 2)
(' Jamaica', 24, 4)
(' Jamaica', 25, 4)
(' Jamaica', 26, 3)
(' Jamaica', 27, 4)
(' Jamaica', 28, 5)
(' Jamaica', 29, 2)
(' Jamaica', 30, 1)
(' Jamaica', 31, 3)
(' Jamaica', 32, 3)
(' Jamaica', 33, 2)
(' Jamaica', 34, 4)
(' Jamaica', 35, 4)
(' Jamaica', 36, 1)
(' Jamaica', 37, 1)
(' Jamaica', 38, 1)
(' Jamaica', 39, 2)
(' Jamaica', 40, 2)
(' Jamaica', 41, 2)
(' Jamaica', 42, 1)
(' Jamaica', 43, 1)
(' Jamaica', 44, 3)
(' Jamaica', 46, 1)
(' Jamaica', 47, 1)
(' Jamaica', 48, 2)
(' Jamaica', 49, 1)
(' Jamaica', 50, 1)
(' Jamaica', 51, 2)
(' Jamaica', 53, 2)
(' Jamaica', 54, 2)
(' Jamaica', 55, 1)
(' Jamaica', 56, 1)
(' Jamaica', 57, 1)
(' Jamaica', 59, 1)
(' Jamaica', 65, 1)
(' Jamaica', 66, 1)
(' Japan', 19, 2)
(' Japan', 24, 1)
(' Japan', 25, 1)
(' Japan', 26, 2)
(' Japan', 27, 3)
(' Japan', 29, 4)
(' Japan', 30, 1)
(' Japan', 31, 1)
(' Japan', 32, 1)
(' Japan', 33, 4)
(' Japan', 34, 2)
(' Japan', 35, 2)
(' Japan', 36, 3)
(' Japan', 37, 3)
(' Japan', 38, 2)
(' Japan', 39, 3)
(' Japan', 40, 2)
(' Japan', 41, 5)
(' Japan', 43, 1)
(' Japan', 44, 2)
(' Japan', 45, 3)
(' Japan', 46, 1)
(' Japan', 47, 4)
(' Japan', 48, 2)
(' Japan', 50, 1)
(' Japan', 52, 1)
(' Japan', 53, 2)
(' Japan', 54, 1)
(' Japan', 56, 1)
(' Japan', 61, 1)
(' Laos', 19, 2)
(' Laos', 23, 1)
(' Laos', 24, 1)
(' Laos', 27, 2)
(' Laos', 29, 2)
(' Laos', 30, 1)
(' Laos', 32, 1)
(' Laos', 36, 2)
(' Laos', 42, 1)
(' Laos', 44, 1)
(' Laos', 49, 1)
(' Laos', 50, 1)
(' Laos', 53, 1)
(' Laos', 56, 1)
(' Mexico', 17, 6)
(' Mexico', 18, 6)
(' Mexico', 19, 14)
(' Mexico', 20, 18)
(' Mexico', 21, 24)
(' Mexico', 22, 24)
(' Mexico', 23, 32)
(' Mexico', 24, 25)
(' Mexico', 25, 39)
(' Mexico', 26, 22)
(' Mexico', 27, 27)
(' Mexico', 28, 33)
(' Mexico', 29, 17)
(' Mexico', 30, 21)
(' Mexico', 31, 33)
(' Mexico', 32, 21)
(' Mexico', 33, 22)
(' Mexico', 34, 12)
(' Mexico', 35, 15)
(' Mexico', 36, 18)
(' Mexico', 37, 19)
(' Mexico', 38, 15)
(' Mexico', 39, 12)
(' Mexico', 40, 11)
(' Mexico', 41, 20)
(' Mexico', 42, 7)
(' Mexico', 43, 16)
(' Mexico', 44, 10)
(' Mexico', 45, 9)
(' Mexico', 46, 10)
(' Mexico', 47, 10)
(' Mexico', 48, 7)
(' Mexico', 49, 3)
(' Mexico', 50, 4)

(' Mexico', 51, 7)
(' Mexico', 52, 8)
(' Mexico', 53, 7)
(' Mexico', 54, 8)
(' Mexico', 55, 3)
(' Mexico', 56, 3)
(' Mexico', 57, 5)
(' Mexico', 58, 5)
(' Mexico', 59, 2)
(' Mexico', 60, 3)
(' Mexico', 61, 4)
(' Mexico', 62, 1)
(' Mexico', 63, 1)
(' Mexico', 65, 2)
(' Mexico', 74, 1)
(' Mexico', 81, 1)
(' Nicaragua', 19, 2)
(' Nicaragua', 20, 4)
(' Nicaragua', 21, 1)
(' Nicaragua', 25, 1)
(' Nicaragua', 26, 1)
(' Nicaragua', 27, 1)
(' Nicaragua', 28, 2)
(' Nicaragua', 29, 2)
(' Nicaragua', 30, 2)
(' Nicaragua', 32, 3)
(' Nicaragua', 33, 1)
(' Nicaragua', 34, 1)
(' Nicaragua', 36, 1)
(' Nicaragua', 37, 1)
(' Nicaragua', 38, 1)
(' Nicaragua', 39, 1)
(' Nicaragua', 41, 1)
(' Nicaragua', 42, 1)
(' Nicaragua', 43, 2)
(' Nicaragua', 44, 1)
(' Nicaragua', 48, 1)
(' Nicaragua', 55, 1)
(' Nicaragua', 56, 1)
(' Nicaragua', 67, 1)
(' Outlying-US(Guam-USVI-etc)', 21, 1)
(' Outlying-US(Guam-USVI-etc)', 23, 1)
(' Outlying-US(Guam-USVI-etc)', 25, 1)
(' Outlying-US(Guam-USVI-etc)', 26, 1)
(' Outlying-US(Guam-USVI-etc)', 29, 2)
(' Outlying-US(Guam-USVI-etc)', 30, 1)
(' Outlying-US(Guam-USVI-etc)', 41, 1)
(' Outlying-US(Guam-USVI-etc)', 43, 1)
(' Outlying-US(Guam-USVI-etc)', 47, 2)
(' Outlying-US(Guam-USVI-etc)', 59, 2)
(' Outlying-US(Guam-USVI-etc)', 63, 1)
(' Peru', 17, 2)
(' Peru', 18, 1)
(' Peru', 20, 1)
(' Peru', 21, 1)
(' Peru', 22, 1)
(' Peru', 23, 1)
(' Peru', 24, 1)
(' Peru', 25, 1)
(' Peru', 26, 1)
(' Peru', 27, 1)
(' Peru', 29, 1)
(' Peru', 30, 1)
(' Peru', 33, 2)
(' Peru', 34, 1)
(' Peru', 35, 1)
(' Peru', 37, 1)
(' Peru', 41, 5)
(' Peru', 44, 1)
(' Peru', 46, 1)
(' Peru', 48, 2)
(' Peru', 49, 2)
(' Peru', 64, 1)
(' Peru', 69, 1)
(' Philippines', 17, 1)
(' Philippines', 18, 2)
(' Philippines', 19, 2)
(' Philippines', 20, 2)
(' Philippines', 21, 1)
(' Philippines', 22, 4)
(' Philippines', 23, 6)
(' Philippines', 24, 5)
(' Philippines', 25, 3)
(' Philippines', 26, 6)
(' Philippines', 27, 11)
(' Philippines', 28, 5)
(' Philippines', 29, 6)
(' Philippines', 30, 2)
(' Philippines', 31, 3)
(' Philippines', 32, 3)
(' Philippines', 33, 6)
(' Philippines', 34, 7)
(' Philippines', 35, 8)
(' Philippines', 36, 3)
(' Philippines', 37, 8)
(' Philippines', 38, 7)
(' Philippines', 39, 14)
(' Philippines', 40, 3)
(' Philippines', 41, 4)
(' Philippines', 42, 4)
(' Philippines', 43, 3)
(' Philippines', 44, 3)
(' Philippines', 45, 7)
(' Philippines', 46, 7)
(' Philippines', 47, 2)
(' Philippines', 48, 5)
(' Philippines', 49, 4)
(' Philippines', 50, 8)
(' Philippines', 51, 1)
(' Philippines', 52, 2)
(' Philippines', 53, 2)
(' Philippines', 54, 2)
(' Philippines', 55, 3)
(' Philippines', 56, 1)
(' Philippines', 57, 2)
(' Philippines', 58, 2)
(' Philippines', 59, 2)
(' Philippines', 60, 2)
(' Philippines', 61, 1)
(' Philippines', 62, 2)
(' Philippines', 63, 2)
(' Philippines', 64, 1)
(' Philippines', 66, 2)
(' Philippines', 67, 1)
(' Philippines', 69, 1)
(' Philippines', 70, 1)
(' Philippines', 73, 1)
(' Philippines', 75, 1)
(' Philippines', 90, 1)
(' Poland', 17, 1)
(' Poland', 21, 1)
(' Poland', 23, 2)
(' Poland', 25, 3)
(' Poland', 26, 2)
(' Poland', 27, 2)
(' Poland', 28, 2)
(' Poland', 29, 1)
(' Poland', 30, 2)
(' Poland', 31, 1)
(' Poland', 35, 2)
(' Poland', 38, 4)
(' Poland', 39, 5)
(' Poland', 40, 1)
(' Poland', 41, 2)
(' Poland', 42, 2)
(' Poland', 43, 3)
(' Poland', 44, 3)
(' Poland', 45, 1)
(' Poland', 48, 1)
(' Poland', 49, 1)
(' Poland', 50, 1)
(' Poland', 52, 1)
(' Poland', 53, 1)
(' Poland', 54, 1)
(' Poland', 55, 2)
(' Poland', 57, 2)
(' Poland', 58, 1)
(' Poland', 59, 1)
(' Poland', 60, 2)
(' Poland', 61, 1)
(' Poland', 71, 1)
(' Poland', 73, 1)
(' Poland', 79, 1)
(' Poland', 81, 1)
(' Poland', 85, 1)
(' Portugal', 19, 1)
(' Portugal', 21, 1)
(' Portugal', 22, 1)
(' Portugal', 23, 1)
(' Portugal', 24, 1)
(' Portugal', 26, 1)
(' Portugal', 27, 1)
(' Portugal', 28, 2)
(' Portugal', 29, 1)
(' Portugal', 30, 1)
(' Portugal', 31, 1)
(' Portugal', 33, 1)
(' Portugal', 34, 3)
(' Portugal', 37, 2)
(' Portugal', 38, 3)
(' Portugal', 43, 2)
(' Portugal', 44, 1)
(' Portugal', 46, 1)
(' Portugal', 47, 1)
(' Portugal', 48, 1)
(' Portugal', 49, 2)
(' Portugal', 51, 1)
(' Portugal', 56, 2)
(' Portugal', 57, 2)
(' Portugal', 63, 1)
(' Portugal', 73, 1)
(' Portugal', 78, 1)
(' Puerto-Rico', 17, 1)
(' Puerto-Rico', 19, 3)
(' Puerto-Rico', 20, 2)
(' Puerto-Rico', 21, 1)
(' Puerto-Rico', 22, 1)
(' Puerto-Rico', 23, 5)
(' Puerto-Rico', 24, 1)
(' Puerto-Rico', 25, 1)
(' Puerto-Rico', 26, 3)
(' Puerto-Rico', 27, 2)
(' Puerto-Rico', 28, 4)
(' Puerto-Rico', 29, 1)
(' Puerto-Rico', 30, 2)
(' Puerto-Rico', 31, 4)
(' Puerto-Rico', 32, 2)
(' Puerto-Rico', 33, 2)
(' Puerto-Rico', 34, 2)
(' Puerto-Rico', 35, 6)
(' Puerto-Rico', 36, 2)
(' Puerto-Rico', 37, 4)
(' Puerto-Rico', 38, 1)
(' Puerto-Rico', 39, 3)
(' Puerto-Rico', 40, 5)
(' Puerto-Rico', 41, 2)
(' Puerto-Rico', 42, 8)
(' Puerto-Rico', 43, 1)
(' Puerto-Rico', 44, 4)
(' Puerto-Rico', 45, 1)
(' Puerto-Rico', 46, 2)
(' Puerto-Rico', 47, 8)
(' Puerto-Rico', 48, 1)
(' Puerto-Rico', 49, 3)
(' Puerto-Rico', 50, 3)
(' Puerto-Rico', 51, 1)
(' Puerto-Rico', 52, 2)
(' Puerto-Rico', 53, 3)
(' Puerto-Rico', 54, 2)
(' Puerto-Rico', 55, 1)
(' Puerto-Rico', 56, 1)
(' Puerto-Rico', 57, 2)
(' Puerto-Rico', 59, 3)
(' Puerto-Rico', 60, 1)
(' Puerto-Rico', 61, 2)
(' Puerto-Rico', 64, 1)
(' Puerto-Rico', 66, 2)
(' Puerto-Rico', 70, 1)
(' Puerto-Rico', 90, 1)
(' Scotland', 18, 1)
(' Scotland', 27, 1)
(' Scotland', 29, 2)
(' Scotland', 38, 1)
(' Scotland', 40, 1)
(' Scotland', 42, 1)
(' Scotland', 47, 1)
(' Scotland', 49, 1)
(' Scotland', 51, 1)
(' Scotland', 53, 1)
(' Scotland', 62, 1)
(' South', 19, 3)
(' South', 20, 2)
(' South', 21, 1)
(' South', 22, 5)
(' South', 23, 3)
(' South', 24, 3)
(' South', 26, 3)
(' South', 27, 2)
(' South', 28, 1)
(' South', 29, 2)
(' South', 30, 3)
(' South', 31, 3)
(' South', 32, 2)
(' South', 33, 2)
(' South', 34, 2)
(' South', 35, 1)
(' South', 36, 4)
(' South', 37, 2)
(' South', 39, 1)
(' South', 40, 1)
(' South', 42, 2)
(' South', 43, 3)
(' South', 44, 1)
(' South', 45, 3)
(' South', 46, 1)
(' South', 47, 1)
(' South', 48, 2)
(' South', 49, 2)
(' South', 50, 4)
(' South', 51, 1)
(' South', 53, 1)
(' South', 54, 2)
(' South', 57, 2)
(' South', 58, 1)
(' South', 60, 2)
(' South', 61, 1)
(' South', 62, 1)
(' South', 63, 2)
(' South', 78, 1)
(' South', 90, 1)
(' Taiwan', 20, 1)
(' Taiwan', 21, 1)
(' Taiwan', 22, 2)
(' Taiwan', 23, 1)
(' Taiwan', 24, 2)
(' Taiwan', 25, 3)
(' Taiwan', 26, 2)
(' Taiwan', 27, 1)
(' Taiwan', 28, 2)
(' Taiwan', 29, 4)
(' Taiwan', 30, 5)
(' Taiwan', 31, 2)
(' Taiwan', 32, 1)
(' Taiwan', 33, 1)
(' Taiwan', 34, 2)
(' Taiwan', 35, 3)
(' Taiwan', 36, 3)
(' Taiwan', 38, 1)
(' Taiwan', 40, 1)
(' Taiwan', 41, 4)
(' Taiwan', 42, 3)
(' Taiwan', 44, 1)
(' Taiwan', 47, 1)
(' Taiwan', 51, 1)
(' Taiwan', 57, 2)
(' Taiwan', 61, 1)
(' Thailand', 19, 2)
(' Thailand', 22, 1)
(' Thailand', 24, 1)
(' Thailand', 26, 1)
(' Thailand', 29, 1)
(' Thailand', 30, 1)
(' Thailand', 31, 1)
(' Thailand', 33, 2)
(' Thailand', 37, 1)
(' Thailand', 43, 2)
(' Thailand', 45, 1)
(' Thailand', 46, 1)
(' Thailand', 47, 2)
(' Thailand', 55, 1)
(' Trinadad&Tobago', 17, 1)
(' Trinadad&Tobago', 28, 1)
(' Trinadad&Tobago', 31, 1)
(' Trinadad&Tobago', 32, 1)
(' Trinadad&Tobago', 33, 1)
(' Trinadad&Tobago', 35, 1)
(' Trinadad&Tobago', 38, 2)
(' Trinadad&Tobago', 40, 1)
(' Trinadad&Tobago', 42, 1)
(' Trinadad&Tobago', 43, 1)
(' Trinadad&Tobago', 45, 2)
(' Trinadad&Tobago', 46, 1)
(' Trinadad&Tobago', 48, 1)
(' Trinadad&Tobago', 50, 1)
(' Trinadad&Tobago', 56, 1)
(' Trinadad&Tobago', 57, 1)
(' Trinadad&Tobago', 61, 1)
(' United-States', 17, 374)
(' United-States', 18, 524)
(' United-States', 19, 659)
(' United-States', 20, 689)
(' United-States', 21, 651)
(' United-States', 22, 683)
(' United-States', 23, 771)
(' United-States', 24, 705)
(' United-States', 25, 734)
(' United-States', 26, 694)
(' United-States', 27, 727)
(' United-States', 28, 751)
(' United-States', 29, 706)
(' United-States', 30, 749)
(' United-States', 31, 785)
(' United-States', 32, 734)
(' United-States', 33, 773)
(' United-States', 34, 784)
(' United-States', 35, 789)
(' United-States', 36, 801)
(' United-States', 37, 762)
(' United-States', 38, 741)
(' United-States', 39, 733)
(' United-States', 40, 721)
(' United-States', 41, 705)
(' United-States', 42, 701)
(' United-States', 43, 695)
(' United-States', 44, 658)
(' United-States', 45, 653)
(' United-States', 46, 664)
(' United-States', 47, 631)
(' United-States', 48, 483)
(' United-States', 49, 531)
(' United-States', 50, 543)
(' United-States', 51, 549)
(' United-States', 52, 429)
(' United-States', 53, 408)
(' United-States', 54, 370)
(' United-States', 55, 380)
(' United-States', 56, 326)
(' United-States', 57, 316)
(' United-States', 58, 340)
(' United-States', 59, 322)
(' United-States', 60, 286)
(' United-States', 61, 273)
(' United-States', 62, 239)
(' United-States', 63, 211)
(' United-States', 64, 189)
(' United-States', 65, 163)
(' United-States', 66, 135)
(' United-States', 67, 141)
(' United-States', 68, 111)
(' United-States', 69, 102)
(' United-States', 70, 83)
(' United-States', 71, 69)
(' United-States', 72, 60)
(' United-States', 73, 56)
(' United-States', 74, 48)
(' United-States', 75, 42)
(' United-States', 76, 44)
(' United-States', 77, 27)
(' United-States', 78, 20)
(' United-States', 79, 20)
(' United-States', 80, 21)
(' United-States', 81, 15)
(' United-States', 82, 11)
(' United-States', 83, 6)
(' United-States', 84, 10)
(' United-States', 85, 2)
(' United-States', 86, 1)
(' United-States', 87, 1)
(' United-States', 88, 3)
(' United-States', 90, 37)
(' Vietnam', 19, 2)
(' Vietnam', 20, 3)
(' Vietnam', 21, 3)
(' Vietnam', 22, 3)
(' Vietnam', 23, 10)
(' Vietnam', 24, 2)
(' Vietnam', 25, 3)
(' Vietnam', 26, 1)
(' Vietnam', 27, 1)
(' Vietnam', 29, 1)
(' Vietnam', 30, 8)
(' Vietnam', 31, 2)
(' Vietnam', 33, 1)
(' Vietnam', 35, 2)
(' Vietnam', 36, 1)
(' Vietnam', 37, 2)
(' Vietnam', 38, 1)
(' Vietnam', 40, 1)
(' Vietnam', 41, 1)
(' Vietnam', 43, 2)
(' Vietnam', 44, 3)
(' Vietnam', 45, 3)
(' Vietnam', 46, 1)
(' Vietnam', 48, 1)
(' Vietnam', 50, 1)
(' Vietnam', 51, 1)
(' Vietnam', 52, 1)
(' Vietnam', 53, 1)
(' Vietnam', 54, 1)
(' Vietnam', 63, 1)
(' Vietnam', 70, 1)
(' Vietnam', 73, 2)
(' Yugoslavia', 20, 1)
(' Yugoslavia', 22, 1)
(' Yugoslavia', 25, 1)
(' Yugoslavia', 29, 1)
(' Yugoslavia', 31, 1)
(' Yugoslavia', 35, 2)
(' Yugoslavia', 36, 1)
(' Yugoslavia', 40, 1)
(' Yugoslavia', 41, 2)
(' Yugoslavia', 43, 1)
(' Yugoslavia', 45, 1)
(' Yugoslavia', 56, 2)
(' Yugoslavia', 66, 1)

#### 7. Compute a new column  Net-Capital-Gain

In [22]:
## ALTER Table to add new Net-Capital-Gain
alter_table= "ALTER TABLE  adult ADD COLUMN \"Net-Capital-Gain\" INT; "
cur.execute(alter_table)

In [23]:
## Verifiying table columns
for result in cur.execute('SELECT sql FROM sqlite_master WHERE tbl_name = \'adult\' AND type = \'table\''):
    print(result)# Bachelors

('CREATE TABLE "adult" (\n"index" INTEGER,\n  "age" INTEGER,\n  "workclass" TEXT,\n  "fnlwgt" INTEGER,\n  "education" TEXT,\n  "education-num" INTEGER,\n  "marital-status" TEXT,\n  "occupation" TEXT,\n  "relationship" TEXT,\n  "race" TEXT,\n  "sex" TEXT,\n  "capital-gain" INTEGER,\n  "capital-loss" INTEGER,\n  "hours-per-week" INTEGER,\n  "native-country" TEXT,\n  "XYX" TEXT\n, "Net-Capital-Gain" INT)',)

In [24]:
## SET value to Net-Capital-Gain column
update_net_catpital_gain_query = "UPDATE adult SET \"Net-Capital-Gain\" = \"capital-gain\" - \"capital-loss\" ;"
cur.execute(update_net_catpital_gain_query)

In [56]:
## Printing Data
for result in cur.execute(ten_record_sql):
    print(result)

(0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K', 2174)
(1, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K', 0)
(2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K', 0)
(3, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K', 0)
(4, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K', 0)
(5, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K', 0)
(6, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K', 0)
(7, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K', 0)
(8, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' United-States', ' >50K', 14084)
(9, 42, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 5178, 0, 40, ' United-States', ' >50K', 5178)